{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <h1>Gestion des hopitals</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime molestiae deserunt pariatur doloremque sit ut non laboriosam soluta sunt rem. Est distinctio at iusto ratione nisi blanditiis optio tenetur quo eveniet expedita excepturi rerum facilis repellendus deleniti, repudiandae, repellat minima sit delectus accusamus provident labore vero atque maxime cum. Laboriosam ipsa accusantium aliquam tenetur a nihil? Facilis perferendis qui sint rerum exercitationem, dicta corporis, quasi ad debitis nobis dolore facere magnam recusandae commodi iusto praesentium? Nam quisquam natus, quis, necessitatibus fugiat sed sint numquam fugit eaque earum eum officia laboriosam ipsa non vel quas laudantium harum illum eligendi obcaecati. Ratione architecto, at tempora nulla animi, facere qui reprehenderit provident laborum similique, consequuntur iure possimus eius dicta fugit eveniet perferendis placeat nihil dolores natus. Fugiat fuga ipsa porro beatae debitis asperiores natus libero iusto minima in? In quibusdam sunt eos repellat officiis earum odio iste incidunt, maiores nobis ea obcaecati esse dignissimos. Earum aut soluta nesciunt corporis qui nostrum cupiditate officiis sint rerum ut laborum, maiores tempora ducimus voluptatem doloribus, pariatur maxime non corrupti assumenda iusto similique perferendis. Consequuntur culpa, corrupti aspernatur aliquam amet saepe! Recusandae, delectus reprehenderit ipsam molestiae nostrum natus vel excepturi temporibus eius, reiciendis exercitationem rem similique obcaecati voluptatibus asperiores, quis in qui aperiam aliquam enim ratione quidem at minus! Voluptatem consequuntur odit possimus. Modi, et id velit, quos voluptatum natus reprehenderit placeat numquam cupiditate ad minima doloribus blanditiis optio nihil nisi necessitatibus magnam, explicabo mollitia totam eveniet quo fugiat quasi rem possimus. Cum voluptatibus non nesciunt tenetur.</p>
{% endblock %}
